<%= form_tag :action => 'search_by_snum', :id => @record do %>

	<%= number_field :record, :student_number %>

<%= submit_tag 'search' %>
<% end %>

<%if @student %>

<table>
	<tr>
		<th>student no.</th>
		<th>name</th>
	</tr>
	
	<tr>
		<td><%=	@student_number %></td>
		<td><%= @student %></td>
		
		<% if @dormer %>
		<td>dormer</td>
		<% elsif !@waitlisted %>		
		
		<td><%=link_to 'add to waitlist', admin_add_to_waitlist_path(:student_number => @student_number, :name => @student)%></td>		

		<%else%>
		<td>already waitlisted</td>	

		<% end %>
	</tr>
</table>
<%end%>


<br>
<h4>waitlist</h4>

	<table>
	<tr>
		<th>student no.</th>
		<th>name</th>
		<th>action</th>
	</tr>
	
	<% @waitlist.each do |x| %>
		<tr>
		<td><%=	x.student_number %></td>
		<td><%= x.first_name + " " + x.last_name %></td>
		
		<td>
			<%= link_to 'grant dorm', admin_grant_dorm_path %> <br>
		</td>
	</tr>
	<%end%>
</table>