<div class="login_container">
    <h2>LOGIN</h2>
    <%= form_for @user, :role => 'form', :as => :user, :url => sign_in_path(@user) do |f| %>
        <div class="form-group">
            <%= f.label 'username:' %><br />
            <%= f.text_field :username %>
        </div>
        <div class="form-group">
            <%= f.label 'password:' %><br />
            <%= f.password_field :password %>
        </div>
    
        <%= f.submit 'login', :class => "btn btn-default" %>&nbsp;&nbsp;&nbsp;            
    
    <% end %>   
</div>

<h3>Announcements</h3>

<table class="table announcement">
    <% @announcement.each do |x| %>
        <tr><td>
            <h3><%= x.header %></h3>
            <small>posted on:</small>
            <%= x.created_at.to_time %>
            <br>
            <%= simple_format(x.content) %>
        </td></tr>
    <% end %>
</table>