<div class="login-card">
    <h1>Log-in</h1><br>
    <!-- <form> -->
    <!-- remove comment above if it doesn't work -->
        <%= form_for @user, :as => :user, :url => sign_in_path(@user) do |f| %>
            <p>
                <%= f.label 'username:' %><br />
                <%= f.text_field :username %>
            </p>
            <p>
                <%= f.label 'password:' %><br />
                <%= f.password_field :password %>
            </p>
            <p>
                <%= f.submit 'login' %>&nbsp;&nbsp;&nbsp;            
            </p>
        <% end %>   
    <!-- </form> -->
    <!-- remove comment above if it doesn't work -->
</div>

<h3>Announcements</h3>

<table>
    <% @announcement.each do |x| %>
        <tr>
            <h4><%= x.header %></h4>
            posted on:
            <%= x.created_at.strftime("%b %d, %Y, %I:%M %P") %>
            <br>
            <%= simple_format(x.content) %>
        </tr>
    <% end %>
</table>