 
<% if @dormer%>
	Click
	<%= link_to "here", apply_save_path(:status => 1), method: :post%>
	to renew instead.
	<br>
<% end %>

<br>
<br>  

<div>
<table class="table-striped table table-bordered">
	<tr>
		<th class="center" width="20%">Dorm</th>
		<th class="center" width="20%">Available slots</th>
		<th class="center" width="20%">Demand</th>
		<th class="center" width="20%">Total Slots</th>
		<% unless @admin %> 
			<th class="center" width="20%"></th>
		<% end %>
	</tr>

	<%@dorms.each do |x|%>
	
	<tr>
		<td><%=	x.dorm_name %></td>
		<td class="center"><%= Dorm.available(x.id) %></td>			
		<td class="center"><%= Applicant.demand(x.id)  %></td>			
		<td class="center"><%=	x.total_slots %></td>	
		
		<% unless @admin %> 
			<td class="center">
				<% if Applicant.applied(current_user.student_number, x.id) == nil%>
					<%= link_to 'select', select_path(:id => x.id), method: :post %>
				<% else %>
				Desired already
				<%end%>
			</td>		
		<% end %>
				
	</tr>

	<%end%>
</table>
</div>

<% if !@admin %> 
<br>
<%= link_to 'arrange dorm preferrence>>', sort_path %>
<% end %>
<br>
<br>